* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square {
    border: 1px solid plum;
    flex-basis: auto;
}

.square.hovered {
    background-color: plum;
}

#container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container-grid {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 70%;
}