* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Great Vibes', cursive, 'Roboto', sans-serif;
  font-size: 6rem;
  margin-top: 2rem;
  color: #EE82EE;
}

button:not(.disabled):hover {
  background-image: linear-gradient(to right, #E6E6FA, #eee);
  transform: scale(1.05);
}

ul {
  height: 100%;
  display: flex;
  flex-direction: column; 
}

li {
  flex: 1;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5%;
}

label {
  margin-right: auto;
  display: flex;
  justify-content: center;
}

input {
  border-radius: 12px;
  cursor: pointer;
}

input:hover {
  box-shadow: 0 0 5px rgba(238, 130, 238, 0.6), /* LavenderBlush */
              0 0 10px rgba(230, 230, 250, 0.8), /* Lavender */
              0 0 5px rgba(238, 238, 238, 0.4), /* LightGray */
              0 0 10px plum;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 30%;
  height: 100%;
  border: 1px solid #EE82EE;
  background: #eee;
  transition: all 0.4s;
}

input[type='checkbox']::before {
  width: 40%;
  height: 100%;
  border-radius: 100%;
  background-color: plum;
  content: '';
  position: absolute;
  left: 1%;
  transition: all 0.4s;
}

input[type='checkbox']:checked {
  background-color: #E6E6FA;
  transition: all 0.4s;
}

input[type='checkbox']:checked::before {
  left: 59%;
  transition: all 0.4s;
}

input[type=range] {
  -webkit-appearance: none; 
  overflow: hidden;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  background: #eee;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  background: #eee;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: plum;
  border-radius: 50%;
  border: 2px solid plum;
  box-shadow: -407px 0 0 400px #E6E6FA;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: plum;
  border-radius: 50%;
  border: 1px solid plum;
  box-shadow: -407px 0 0 400px #E6E6FA;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: inherit;
}

.containers {
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
}

.button {
  justify-content: center;
  align-items: center;
  font-size: medium;
  width: 100%;
  height: 2rem;
  margin-bottom: 5%;
  border: 1px solid #EE82EE;
  border-radius: 25%;
  cursor: pointer;
  background-color: white;
  overflow: hidden;
}

.button.active {
  opacity: 0.5;
}

.disabled {
  opacity: 0.5;
}

.cursor-pencil {
  cursor: url('./images/cursorpencil.png'), pointer;
}

.cursor-eraser {
  cursor: url('./images/cursoreraser.png'), pointer;
}

.square.hovered {
  background-color: plum;
}

.container-toggler {
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.label-toggle {
  margin-right: 0;
}

.text-footer {
  font-size: 0.75rem;
  color: #D8BFD8;
} 

#container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container-workingarea {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50vw;
  height: 50vw;
  margin-top: 1rem;
}

#container-options {
  width: 7vw;
  height: 25vh;
  font-size: medium;
  margin-bottom: 20%;
  margin-right: 5%;
}

#container-buttons {
    margin-bottom: auto;
}

#container-toggles {
  height: 50%;
  justify-content: center;
}

#container-changegradientsize, #container-changegradientsize {
  align-items: center;
}

#container-grid {
    flex-wrap: wrap;
    width: 43vw;
    height: 43vw;
    border: 2px solid plum;
    margin-left: auto;
}

#value-gradientsize {
  font-size: larger;
  font-weight: 800;
  color: #EE82EE;
}

#container-footer {
  align-items: center;
  margin-top: auto;
}
