* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
  font-family: 'Great Vibes', cursive, 'Roboto', sans-serif;
  font-size: 6rem;
  margin-top: 2rem;
  color: #EE82EE;
}

input {
  visibility: hidden;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: inherit;
}

label {
  margin-bottom: 5%;
}

.containers {
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
}

.button {
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2rem;
    margin-bottom: 5%;
    border: 1px solid #EE82EE;
    border-radius: 25%;
    cursor: pointer;
    background-color: white;
}

.button.active {
  opacity: 0.5;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.square {
    flex-basis: auto;
}

.square.show-grid {
  border: 1px solid plum;
}

.cursor-pencil {
  cursor: url('./images/cursorpencil.png'), pointer;
}

.cursor-eraser {
  cursor: url('./images/cursoreraser.png'), pointer;
}

.square.hovered {
    background-color: plum;
}

.container-toggler {
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
  
.toggle-switch {
  align-items: flex-end;
  margin-left: 3%;
}

.slider {
  position: relative;
  width: 4rem;
  height: 2rem;
  background-color: white;
  border: 1px solid plum;
  border-radius: 1rem;
  cursor: pointer;
}
  
.slider:before {
  content: '';
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: -0.15rem;
  left: 35%;
  transform: translateX(-60%);
  background-color: plum;
  border-radius: 50%;
  transition: 0.4s;
}

input[type='checkbox']:checked + .slider {
    background-color: #E6E6FA;
}
  
input[type='checkbox']:checked + .slider:before {
    transform: translateX(1rem);
}

.toggle-switch {
  width: 100%;
}

.text-footer {
  font-size: 0.75rem;
  color: #D8BFD8;
} 

#container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container-workingarea {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50vw;
  height: 50vw;
  margin-top: 1rem;
}

#container-options {
  width: 7vw;
  font-size: medium;
  margin-right: 5%;
}

#container-buttons {
    margin-bottom: 40%;
}

#container-toggles {
  justify-content: center;

}

#container-grid {
    flex-wrap: wrap;
    width: 43vw;
    height: 43vw;
    border: 2px solid plum;
    margin-left: auto;
}

#container-footer {
  align-items: center;
  margin-top: auto;
}

.container-sliderrange {
  width: 100%;
  align-items: center;
  justify-content: center;
}

#value-gradientsize {
  font-size: larger;
  font-weight: 800;
  color: #EE82EE;
}

.slider-range{
  width:100%;
  visibility: visible;
}

input[type="range"] {
  /* To hide ordinary range input */
  -webkit-appearance: none;

  height: 1rem;
  background: #E6E6FA;
  border-radius: 15px;
  width: 90%;
  
  /* Range progress background is set */
  background-image: linear-gradient(plum,#E6E6FA);
  background-size: 10% 100%;
  background-repeat: no-repeat;
}

/* Thumb styles */
input[type="range"]::-webkit-slider-thumb {

  /* To hide ordinary thumb */
  -webkit-appearance: none;
  
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  
  /* Since range input is created manually, thumb background can be vary in color */
  background: plum; 
  cursor: pointer;
  transition: background .3s ease-in-out;
}






